.table {
  display: grid;
  grid-template-columns: max-content repeat(22, 1fr);
}

.table span {
  overflow: hidden;
  text-align: center;
}

.chart {
  display: grid;
  grid-template-columns: max-content auto;
}

.chart .y-values {
  grid-column: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin: 12px;
}

.chart svg {
  grid-column: 2;
  height: 600px;
  border: black 2px solid;
}

.chart svg polyline {
  stroke-width: 1.5;
}

.chart line {
  stroke: #bbb;
  stroke-width: 1;
}

.color0 {
  background-color: #67bfc6;
  color: white;
}

.color1 {
  background-color: #f5d664;
}

.color20 {
  background-color: #f1b73c;
}

.color60 {
  background-color: #e79402;
}

.color120 {
  background-color: #da6500;
  color: white;
}

.color240 {
  background-color: #d23f00;
  color: white;
}

.color480 {
  background-color: #b61c00;
  color: white;
}

.color960 {
  background-color: black;
  color: white;
}
