.App {
  text-align: center;
}

th {
  font-size: 15px;
}

.color0 {
  background-color: #67BFC6;
  color: white;
}

.color1 {
  background-color: #F5D664;
}

.color20 {
  background-color: #F1B73C;
}

.color60 {
  background-color: #E79402;
}

.color120 {
  background-color: #DA6500;
  color: white;
}

.color240 {
  background-color: #d23f00;
  color: white;
}

.color480 {
  background-color: #b61c00;
  color: white;
}
